@font-face {
    font-family: 'iransans';
    src: url("../font/iransans/IranianSans.woff") format('woff'),
    url("../font/iransans/IranianSans.ttf") format('truetype'),
    url("../font/iransans/IranianSans.woff2") format('woff2');
}
*{
    direction: rtl;
    text-align: right;
    font-family: 'iransans';
}
.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.font-1{
    font-size: 13px;
}